@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-800;
}

.container {
  @apply bg-gray-600 min-h-screen min-w-full;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
}
:root {
  /* font-family: "Inter", Helvetica, Arial, sans-serif; */
  /* font-size: 16px; */
  /* line-height: 24px; */
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background: transparent;
  }
}

.titlebar {
  height: 30px;
  background: #ffc70e;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.titlebar-button:hover {
  background: #ee9209;
}
